/*
navy: #000028
yellow: #FFDC00
red: #FE0000
orange: #FF9300
blue: #0037F1
neutral orange: #FEEFDD
neutral grey: #F6F5EA
*/

@font-face {
  font-family: GothamBold;
  src: url(../fonts/GothamBold.otf);
}

@font-face {
  font-family: GothamNarrow;
  src: url(../fonts/GothamNarrow-Book.otf);
  font-weight: normal
}

@font-face {
  font-family: GothamNarrow;
  src: url(../fonts/GothamNarrow-MediumItalic.otf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: GothamNarrow;
  src: url(../fonts/GothamNarrow-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: MediaSans;
  src: url(../fonts/mediasans-black.otf);
}

@font-face {
  font-family: TiemposText;
  src: url(../fonts/TiemposText-Regular.otf);
}

@font-face {
  font-family: TiemposText;
  src: url(../fonts/TiemposText-RegularItalic.otf);
  font-style: italic;
}

body {
  font-family: GothamNarrow;
  color: #000028;
}

a {
  color: #000028;
  text-decoration: underline;
}

a:focus, a:hover {
  color: #0037F1;
}

p {
  font-size: 1.1em;
}

h3 {
  font-family: MediaSans;
  text-transform: uppercase;
  color: #000028;
}

.subtitle {
  font-family: TiemposText;
}

/* ----- Header ----- */

header {
  background: #000028;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

header img {
  height: 70px;
  margin: 1em 0;
  max-width: 40%;
}

.filter-dropdown {
  float: right;
}

.filter-dropdown a.dropdown-toggle {
  border-radius: 0;
  background: #FF9300;
  border: 0;
  font-size: 1.1em;
  padding: 0.8em 1em;
  font-family: 'MediaSans';
  text-transform: uppercase;
  display: inline-block;
  color: #000028;
  margin: 1.4em 0;
}

a.dropdown-toggle:hover {
  background: #FFDC00;
}

a.dropdown-toggle::after {
  color: #0037F1;
}

.filter-dropdown ul.dropdown-menu {
  border: 0;
  border-radius: 0;
  /*font-family: 'MediaSans';*/
  /*font-family: TiemposText;*/
  /*text-transform: uppercase;*/
  color: #000028;
  background: #F6F5EA;
  box-shadow: 0 0 0.5rem 0.25rem #BBBBBB;
}

.filter-dropdown a.dropdown-item {
  padding: 15px;
}

.filter-dropdown .reset-item-li {
  display: none;
}

/* ----- Top Section ----- */

section.top {
  padding-top: 100px
}

section.top h1 {
  font-family: MediaSans;
  font-size: 4em;
  padding: 1.2em 0 0.1em 0;
  text-transform: uppercase;
  line-height: 1.1;
}

@media screen and (max-width: 500px) {
  section.top h1 {
    font-size: 3em;
  }
}

section.top .subtitle {
  font-size: 1.7em;
  line-height: 1.3;
}

.top-buttons {
  margin: 2em 0 3em 0;
}

.top-buttons h3 {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
}

section.top a {
  border: 0;
  padding: 1em 2.4em 1em 1.2em;
  font-family: 'MediaSans';
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color: #000028;
  position: relative;
}

a.download-button {
  background: #FF9300;
  margin-right: 1em;
}

a.download-button:hover {
  background: #FFDC00;
}

a.contribute-button:hover h3 {
  color: #0037f1;
}

section.top a h3::after {
  color: #0037f1;
  content: "\f054";
  font-family: FontAwesome;
  display: inline-block;
  position: absolute;
  top: calc(50% - 10px);
  right: 0.75em;
}

/* ----- Banner ----- */

section.banner {
  background-image: url(../images/banner.jpg);
  height: 600px;
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
}

/* ----- Intro Section ----- */

section.intro {
  padding-top: 4em;
  padding-bottom: 2em;
}

h2 {
  font-family: TiemposText;
  font-weight: normal;
  font-size: 1.6em;
}

/* ----- Accordions ----- */

.accordion {
  margin-bottom: 2em;
}

.accordion-button, .accordion-button:not(.collapsed) {
  background-color: #FF9300;
  padding: 1em;
  border: 0;
  border-radius: 0 !important;
}

.accordion-button:hover {
  background-color: #FFDC00;
}

.accordion-button:focus {
  box-shadow: 0 0 0.5rem 0.25rem #BBBBBB;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  color: #0037F1;
  content: "\f107";
  font-family: FontAwesome;
  background-image: none;
  height: auto;
  font-size: 2.5em;
  padding-right: 0.75em;
}

.accordion-button-text {
  color: #000028;
  padding: 0 2%;
}

.accordion-collapse {
  padding: 2em 2%;
  background-color: #F6F5EA;
  border: 0;
  border-radius: 0 !important;
}

.subsection-header h3 {
  background-color: #FFDC00;
  color: #000028;
  padding: 0.5em;
  margin: 1em 0 0.5em 0;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

/* ----- Charts ----- */

.metric-link {
  cursor: pointer;
}

.charts .subtitle {
  font-style: italic;
  font-size: 1.1em;
}

.charts .chart-wrapper svg {
  width: 100% !important;
  height: auto !important;
}

.charts .row {
  justify-content: space-between;
}

.chart {
  padding-top: 3em;
  padding-bottom: 3em;
}

.charts hr {
  border: 2px solid #888888;
}

.viz {
  padding: 1em 0;
  width: 100%;
}

.viz text {
  font-family: 'GothamNarrow';
  text-transform: uppercase;
  color: #000028 !important;
}

.vega-embed.has-actions {
  padding-right: 0 !important;
  padding-top: 2.5em;
}

#disclosure-sorting {
  background: blue;
  padding: 0.5em 1em;
  color: white;
  text-transform: uppercase;
  vertical-align: top;
  max-width: 30%;
  font-size: 0.8em;
  text-align: center;
}
#disclosure-sorting .vega-bind-radio {
  display: inline-block;
  text-align: left;
}
#disclosure-sorting input {
  margin: 0 5px 0 15px;
}

.nocounts text,
#aum svg text,
#disclosure svg text,
#diligence_table svg text {
  text-transform: none;
}

#diligence_table svg .x_labels text {
  text-transform: uppercase;
  font-family: MediaSans;
}

/* ----- Footers ----- */

footer {
  background: #F6F5EA;
  margin-top: 5em;
  padding: 3em 20%;
}

footer .row {
  align-items: center;
}

footer h2 {
  margin-bottom: 1em;
  font-size: 1.2em;
}

footer .logo {
  padding: 0 8%;
  text-align: center;
}

footer .logo-right {
  padding-right: 0;
}

footer .logo-center {
  border: 2px solid #888888;
  border-width: 0 2px;
}

footer img {
  max-width: 100%;
  max-height: 125px;
}
